* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  html,
  body {
         height: 100%;
         width: 100%;
  }
  
  #main {
          position: relative;
          overflow: hidden;
  }
  
  @font-face{
              font-family: a;
              src: url(./jost-variable.ttf);
  
              font-family: b;
              src: url(./hk-grotesksemibold.ttf);
  }
  
  #VPpage {
           height: 100vh;
           width: 100vw;
           background-color: #0b48ed;
           position: relative;
  }
  
  #VPpage> video {
                  height: 100%;
                  width: 100%;
                  object-fit: cover;
                  
  }

  label {
    font-size: 20px;
    font-weight: bold;
    color: #1d1d1d;
}

/* Style for input fields */
input[type="text"][id="userID"] {
                    position: absolute;
                    top: 25%;
                    left: 25%;
                    width: 300px;
                    height: 50px;
                    padding: 10px;
                    margin-top: 50px;
                    border: none;
                    border-radius: 50px;
}
input[type="text"][id="propertytype"] {
                    position: absolute;
                    top: 45.25%;
                    left: 25%;
                    width: 300px;
                    height: 50px;
                    padding: 10px;
                    margin-top: 20px;
                    border: none;
                    border-radius: 50px;
}
input[type="text"][id="location"] {
    position: absolute;
    top: 61.75%;
    left: 25%;
    width: 300px;
    height: 50px;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 50px;
}

.submit-VP {
    position: absolute;
    bottom: 10%;
    left: 17.75%;
    font-size: 17px;
    font-weight: bolder;
    margin-top: 0px;
    background-color: rgba(70, 113, 255);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50px;
    width: 15%;
    height: 7.25%;
    color: #E5E9F3;
}

.submit-VP:hover {
    background-color: #fff;
    color:rgba(70, 113, 255);
}

.close-VP {
    position: absolute;
    top: 1.25%;
    left: 1.25%;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    background-color: rgba(70, 113, 255);
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
    color: #E5E9F3;
}

.close-VP:hover {
    background-color: #fff;
    color:rgba(70, 113, 255);
}