* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  html,
  body {
         height: 100%;
         width: 100%;
  }
  
  #main {
          position: relative;
          overflow: hidden;
  }
  
  @font-face{
              font-family: a;
              src: url(./jost-variable.ttf);
  
              font-family: b;
              src: url(./hk-grotesksemibold.ttf);
  }
  
  #page1 {
           height: 100vh;
           width: 100vw;
           background-color: #0b48ed;
           position: relative;
  }
  
  #page1> video {
                  height: 100%;
                  width: 100%;
                  object-fit: cover;
                  
  }
  
  .page1bottom {
                 position: absolute;
                 bottom: 5%;
                 left: 72.55%;
                 transform: translate(-50%,-50%);
                 z-index: 1;
  }
  
  .page1bottom> .btn {
    font-size: 20px;
    font-weight: bold;
    width: 550px;
    height: 55px;
    padding: 0px;
    background-color: rgb(70, 113, 255);
    border: 1px solid #E5E9F3;
    border-radius: 50px;
    color: #fff;
    transition: box-shadow 0.3s ease;
}

.page1bottom > .btn:hover {
           cursor: pointer;
           box-shadow: 0px 0px 100px rgba(70, 113, 255, 0.7); /* Apply a glowing box shadow on hover */
}

  
  #page2 {
           height: 100vh;
           width: 100vw;
           background-color: #2124dd;
           position: relative;
  }
  
  #page2> img {
                  height: 100%;
                  width: 100%;
                  object-fit: cover;
  }
  
  #page3 {
            height: 100vh;
            width: 100vw;
            background-color: #6B46FF;
            position: relative;
  }
  
  #page3> video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  #page4 {
            height: 100vh;
            width: 100vw;
            background-color: #6B46FF;
            position: relative;
  }
  
  #page4> video {
                height: 100%;
                width: 100%;
                object-fit: cover;
  }
  
  #page5 {
    height: 100vh;
    width: 100vw;
    background-color: #6B46FF;
    position: relative;
  }

  #page5> video {
        height: 100%;
        width: 100%;
        object-fit: cover;
  }

    /* Popup styles */
#popup {
    display:none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(245, 87, 87, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.pbg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.pbg> video {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: relative;
}

.popup-content {
    background-color: #ffd67d;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 0%;
    height: 0%;
    z-index: 3;
}

.close-popup {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    background-color: rgba(70, 113, 255);
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    top: 5%;
    right: 2%;
    transform: translate(-50%,-50%);
    color: #fff;
}

.close-popup:hover {
        background-color: rgba(85, 124, 255, 0.7);
}

.po {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    background-color: rgba(70, 113, 255);
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 50px;
    position: absolute;
    top: 40%;
    left: 15%;
    transform: translate(-50%,-50%);
    width: 15%;
    height: 15%;
    color: #fff;
}

.po:hover {
        background-color: rgba(85, 124, 255, 0.7);
        box-shadow: 0px 0px 100px rgba(70, 113, 255, 0.7); /* Apply a glowing box shadow on hover */

}

.pm {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    background-color: rgba(70, 113, 255);
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 50px;
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%,-50%);
    width: 15%;
    height: 15%;
    color: #fff;
}

.pm:hover {
        background-color: rgba(85, 124, 255, 0.7);
        box-shadow: 0px 0px 100px rgba(70, 113, 255, 0.7); /* Apply a glowing box shadow on hover */

}

.tt {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    background-color: rgba(70, 113, 255);
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 50px;
    position: absolute;
    top: 65%;
    left: 15%;
    transform: translate(-50%,-50%);
    width: 15%;
    height: 15%;
    color: #fff;
}

.tt:hover {
        background-color: rgba(85, 124, 255, 0.7);
        box-shadow: 0px 0px 100px rgba(70, 113, 255, 0.7); /* Apply a glowing box shadow on hover */

}

.ga {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    background-color: rgba(70, 113, 255);
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 50px;
    position: absolute;
    top: 65%;
    left: 35%;
    transform: translate(-50%,-50%);
    width: 15%;
    height: 15%;
    color: #fff;
}

.ga:hover {
        background-color: rgba(85, 124, 255, 0.7);
        box-shadow: 0px 0px 100px rgba(70, 113, 255, 0.7); /* Apply a glowing box shadow on hover */

}

#login-popup {
    display:none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(245, 87, 87, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 4;
}

.login-popup-content {
    display: none;
    background-color: #ffd67d;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 5;
    transform: translate(0%,0%);
}

.login-popup-content> video {
        height: 100%;
        width: 100%;
        object-fit: cover;
}

label {
    font-size: 20px;
    font-weight: bold;
    color: #1d1d1d;
}

/* Style for input fields */
input[type="text"] {
                    position: absolute;
                    top: 28.5%;
                    left: 25.5%;
                    width: 300px;
                    height: 50px;
                    padding: 10px;
                    margin-top: 70px;
                    border: none;
                    border-radius: 50px;
}
input[type="password"] {
                    position: absolute;
                    top: 45.5%;
                    left: 25.5%;
                    width: 300px;
                    height: 50px;
                    padding: 10px;
                    margin-top: 20px;
                    border: none;
                    border-radius: 50px;
}

.register {
    position: absolute;
    top: 59.5%;
    left: 25.5%;
    font-size: 20px;
    font-weight: bolder;
    width: 300px;
    height: 50px;
    padding: 0px;
    background-color: #fff;
    border: 1px solid #E5E9F3;
    border-radius: 20px;
    color: rgb(70, 113, 255);
    transition: box-shadow 0.3s ease;
    font-family: 'Roboto', sans-serif; /* Use Roboto font */
    text-transform: uppercase; /* Uppercase text */
    letter-spacing: 1px; /* Add a bit of letter spacing */
}

/* Add hover effect */
.register:hover {
    cursor: pointer;
    border-color: black;
    box-shadow: 0 0 3px 3px white;
    background-color: azure;
}


/* Close button for the login-popup */
.login-close-popup {
    position: absolute;
    top: 2.25%;
    right: 4.25%;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    background-color: rgba(70, 113, 255);
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
}

.login-close-popup:hover {
    background-color: azure;
}

/* Submit button for the login-popup */
.login-submit-popup {
    position: absolute;
    bottom: 20%;
    left: 15%;
    width: 300px;
    height: 50px;
    font-size: 20px;
    font-weight: bolder;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #E5E9F3;
    border-radius: 20px;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    color: rgba(70, 113, 255);
    font-family: 'Roboto', sans-serif; /* Use Roboto font */
    text-transform: uppercase; /* Uppercase text */
    letter-spacing: 1px; /* Add a bit of letter spacing */
}

.login-submit-popup:hover {
    cursor: pointer;
    border-color: black;
    box-shadow: 0 0 3px 3px white;
    background-color: azure;
}

